.stickyNoteContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  grid-area: 1 / 2 / span 2 / span 1;
  gap: 1rem;
  flex-wrap: wrap;
  object-fit: cover;
  overflow-x: auto;
  max-height: 100%;
  margin: 3rem;
  background-color: white;
padding: 1rem;
border: 1px dashed black;
box-shadow: 10px 10px;
}

.stickies {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  box-shadow: 10px 10px;
  padding: 10px;
  height: 15rem;
  width: 13rem;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 136);
  border-bottom-right-radius: 20px;
}

.titleContainer h1{
margin-top: 0;
margin-bottom: 1rem;
}

.postContainer {
height: 60%;
  overflow-wrap: break-word;
    object-fit: cover;
  overflow-x: auto;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.postContainer p {
height: 50%;
  overflow-x: auto;
}

.userContainer {
  text-underline-offset: 1px;
}
.userContainer h2{
margin: 0;
}

.tagContainer {
  background-color: white;
padding-left: 0.5rem;
padding-right: 0.5rem;
  width: fit-content;
  border-radius: 20px;
  border: 0.5px dashed black;
}

.tagContainer h2{
margin: 0;
}
